.detailsWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
}

.withoutMovie {
  color: antiquewhite;
  font-size: 40px;
  text-align: center;
}

.title {
  display: flex;
  font-size: 40px;
}

.voteAverage {
  margin-left: 20px;
  padding: 15px;
  color: #49ad5c;
  font-size: 30px;
  border: 1px solid antiquewhite;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.timeInformation {
  margin: 40px 0;
  color: #F65261;
  font-size: 30px;
}

.timeInformation span {
  margin-right: 20px;
}
