.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 60px 0 20px;
}

.buttonBalancer {
  display: flex;
  justify-content: space-between;
  min-width: 450px;
}

.calendarIcon {
  position: absolute;
}

.calendarIcon:after {
  content: "";
  position: relative;
  left: 550px;
  top: 10px;
  display: block;
  width: 30px;
  height: 30px;
  color: #F65261;
  background-size: 30px 30px;
  background-image: url("/images/calendar-icon.svg");
  background-repeat: no-repeat;
  z-index: 5;
}
