.moviesCount {
    margin-bottom: 30px;
    font-size: 22px;
    color: antiquewhite;
}

.movieList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.withoutMovies {
    margin: 200px auto;
    width: 800px;
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}
