.sortForm {
    color: rgba(255, 255, 255, 0.6);
}

.sortSelect {
    padding: 0 25px;
    color: antiquewhite;
    font-size: 18px;
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
    appearance: none;
}

.selectWrapper {
    display: flex;
}

.selectWrapper:after {
    content: '▼';
    position: relative;
    right: 0;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    color: #F65261;
    z-index: 3;
}

.sortOption {
    color: antiquewhite;
    background: #232323;
}
